.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1.5em;
}

.list{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.list li{
    margin-left: 15px;
}

.list li a{
    color: #fff;
    text-decoration: none;
}

.list li a:hover{
    color: #ffbb33;
    text-decoration: none;
}
